body{
    background-color:rgb(199, 192, 192); 
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    
}

#wrapper{
    width: 100%;
    font-size: 25px;
    margin-left: 200px;
    background-color:#c1d7d7;
 
  
}

#menu{
   height: 80px;  
   background-color: #f2f2f2; 
    

}


#name{
    color: white;
    background-color: #00cc99;
    height:60px ;
    padding:20px  20px  0 20px;    
    float: left;  
    margin: 0 200px 0 200px;
    
}

#about{
    
    height:60px ;
    padding:20px  20px  0 20px;
    color: black;
    float: left;  
    
}


#pfolio{
    
    height:60px ;
    padding:20px  20px  0 20px;
    color: black;
    float: left;  
    
}

#contact{    
    height:60px ;
    padding:20px  20px  0 20px;
    color: black;
    float: left;  
    
}


div #name a{
    text-decoration: none;
    color: white;
    
}

div a{
    text-decoration: none;
    color: black;

}

#main{
    clear: both;
    overflow:0 ;
    
    }
#bio{
    margin-left:35px;
    padding-top: 10px;
    text-align: left;    
    border-bottom: #00cc99 solid 2px;
}
#bio-main{
    margin: 30px  100px 50px 100px;     
    background-color: white;
    height: 500px;

}

#main-form{
    margin: 30px  100px 50px 100px;     
    background-color: white;
    height: 500px;
   

}


#galary{
    margin: 30px  100px 50px 100px;     
    background-color: white;
    height: 650px;
   

}



form{
    margin-right: 400px;
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
}
#bio-image p{ 
    margin: 20px;  
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    padding: 10px;
    
    
}


img {
    float: left;    
    width: 150px;
    height: 150px;
    margin: 0px 15px 0px 5px;
    
  }
  #img1{
    margin-left: 20px ;
  }

  #img_grp2 {
    margin-top: 20px ;
    margin-left: 20px ;

}

#img_grp3 {
    margin-top: 20px;
    margin-left: 20px ;

}
    
textarea{
    margin-left: 3px;
}

#submit{
    background-color: #00cc99;
}

#img_grp2{
    clear: both;
    overflow: 0;
    float: left;

}
#img_grp3{
    clear: both;
    overflow: 0;
    float: left;

}

#img3{
    float: left;
}

#img4{
    float: left;
}

#img5{
    float: left;
}

        footer{
            
            clear: both;
            overflow: 0;
            border-top: #00cc99 solid 5px;
            background-color:#669999;
        }


