body{
    background-color:rgb(199, 192, 192); 
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    
}

#wrapper{
    width: 100%;
    font-size: 25px;
    margin-left: 200px;
    background-color: #e40808;
 
  
}

#menu{
   height: 60px;  
    

}
li{
    display: inline;
    padding: 20px;
}
